*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #588157;
}

.section{
    margin: 10px;
    padding: 10px;
    height: fit-content;
    width: fit-content;
}
.section h1{
    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: white;
    margin: 5px;
    padding: 5px;
}
.password{
    height: fit-content;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 5px;
    gap: 10px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}
.password input{
    border: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 2px;
    pointer-events: none;
    color: black;
    
}
.password input:focus{
    outline: none;
}
.password button{
    background-color: transparent;
    border: none;
}
.password button:hover{
    cursor: pointer;
}

.info{
    height: fit-content;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

.number{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.range{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}
.number input{
    height: fit-content;
    width: 100%;
}

.check{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 5px;
}
.check div{
    margin: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.check div input{
    height: 15px;
    width: 15px;
}

.strength{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 5px;
}
.strength h4{
    font-family: Arial, Helvetica, sans-serif;
}
.circle{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.info button{
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}